.squareStyle {
  color: blue;
  font-size: 65px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  width: 72px;
  height: 72px;
  line-height: 65px;
  text-align: center;
}
