.squareStyle {
  color: blue;
  font-size: 65px;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  border-radius: 5px;
  height: 72px;
  width: 72px;
  line-height: 65px;
  text-align: center;
  box-sizing: border-box;
  margin: 10px;
  box-shadow: 1px 3px gainsboro;

  &:hover {
    cursor: crosshair;
  }
}

.emptySquare {
  color: white;
}

.player1Square {
  color: red;
}

.player2Square {
  color: blue;
}
